<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message  %> </h4>
            <% if(process.env.NODE_ENV !== 'production'){
                require('dotenv').config()
               %> 
            <p><%= err.stack  %></p>
            <% } %>
          </div>
    </div>
</div>
