<div id="cluster-map"></div>
<% layout('layouts/boilerplate') %> 
    <div class="banner">
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add Campground</a>

        <% for(let campground of campgrounds) {%> 
         <div class="card mb-3" >
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length){ %> 
                    <img class="img-fluid " src="<%=campground.images[0].url%> " alt="" crossorigin>
                    <% }else{ %>
                        <img class="img-fluid" src="https://res.cloudinary.com/dd84mw590/image/upload/v1670160864/YelpCamp/j4h8rrxfjozayylws5iw.jpg" alt="" crossorigin> 
                        <% } %>  
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%=campground.title  %> </h5>
                        <p class="card-text"><%=campground.description  %></p>
                        <p class="card-text">
                            <small class="text-muted"><%=campground.location%> </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id  %> ">View <%= campground.title %> </a>
                    </div>
                </div>
            </div>
         </div>
            
         <% } %> 
        </div>
         <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
            const campgrounds = { features:<%-JSON.stringify(campgrounds)%> };
          </script>
         <script src="/javascripts/clusterMap.js"></script>